/*Sign Up - Lo pongo aca por ahora, despues veo si le creo un style por separado*/

.card-form {
    max-width: 500px;
    margin: auto;
    background-color: #F2F2F2;
    padding: 2%;
    border-radius: 20px;
    margin-top: 2%;
}

.form__grupo-btn-enviar .form_btn {
    height: 50px;
    background-color: #3f8ede;
    color: #FAFAFA;
    width: 100%;
}

.form__label {
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}


/* Lo tuve que poner así porque sino me aparecian uno abajo del otro*/


/* .form__label_tipo_persona {
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}
 */

.form__label_tipo_usuario {
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.form__grupo_input {
    position: relative;
}

.form__input_error {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.form__input_error_transportista {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.form__input_error_activo {
    display: block;
    color: #BB2929;
    font-weight: 700;
}

.form__input_error_transportista_activo {
    display: block;
    color: #BB2929;
    font-weight: 700;
}

.form__validacion_estado {
    position: absolute;
    right: 10px;
    bottom: 12px;
    z-index: 100;
    /* Esto solo para asegurarnos que quede por encima de otros elementos */
    opacity: 0;
    /* Esto para que no se muestre, que se muestre solo cuando haya error */
}

.form__mensaje_error {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #ec3e3e;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.form__mensaje_error_advertencia {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #f3f706;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.form__mensaje_error_advertencia_activo {
    display: block;
}

.form__mensaje_error_activo {
    display: block;
}

.form__mensaje_exito {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #2fe76d;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
    display: none;
}

.form__mensaje_exito_activo {
    display: block;
}


/* ------------------------------------- Estilos para Validación ------------------------------------- */


/* Supongo estas clases las pone con JS */

.formulario_grupo_correcto .form__validacion_estado {
    color: #1ED12D;
    opacity: 1;
}

.formulario_grupo_incorrecto .form__validacion_estado {
    color: #BB2929;
    opacity: 1;
}

.formulario_grupo_incorrecto .form__input {
    /*color: #BB2929;*/
    border: 3px solid #BB2929;
    opacity: 1;
}


/* ---------------------------------------------------------------------------------- 
   ------------------------------------- NavBar ------------------------------------- 
   ---------------------------------------------------------------------------------- */

.navbar-navigation {
    background-color: #E6E6E6;
}

.nav-mis-camiones-none,
.nav-buscar-carga-none,
.nav-mis-cargas-none,
.nav-mis-solicitudes-none {
    display: none;
}

.a-mis-camiones,
.a-mis-cargas,
.a-buscar-cargas,
.a-dashboard,
.a-mis-solicitudes,
.a-manual-usuario {
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: inline;
}

.a-mis-camiones:hover,
.a-mis-cargas:hover,
.a-buscar-cargas:hover,
.a-dashboard:hover,
.a-manual-usuario:hover,
.navigation:hover,
.a-mis-solicitudes:hover,
.a-quienes-somos:hover,
.a-contacto:hover {
    color: #4136df;
    cursor: pointer;
    display: inline;
}

.a-perfil {
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-right: 20px;
}

.a-perfil:hover {
    color: #4136df;
    cursor: pointer;
}

.icon-fontawesome {
    color: #241F74;
    cursor: pointer;
    margin-left: 10px;
}

.navigation {
    color: #241F74;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-left: 50px;
}


/*----------------------------------------------------------------------------------------------------- 
 ------------------------------------- Sección Uno - login ---------------------------------------
 ----------------------------------------------------------------------------------------------------- */

.seccionUno {
    text-align: center;
    position: relative;
    /*padding-top: 65px;*/
}

.seccionUno img {
    width: 100%;
    min-height: 400px;
}

.seccionUno .contenedor {
    position: absolute;
    width: 700px;
    height: auto;
    font-family: Helvetica;
    color: #241F74;
    background-color: #FAFAFA;
    opacity: 85%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 10%;
    border: solid;
}

.seccionUno .h5Bienvenido {
    font-size: 50px;
}

.seccionUno .parrafo {
    font-size: 15px;
    font-weight: bold;
}

.btnDador {
    background: #FAFAFA;
    color: #241F74;
    border-color: #241F74;
}

.btnDador:hover {
    background: #241F74;
    color: #FAFAFA;
}

.btnTranspor {
    background: #241F74;
    color: #FAFAFA;
    margin-left: 20px;
}

.btnTranspor:hover {
    background: #FAFAFA;
    color: #241F74;
}

@media screen and (max-width:1500px) {
    .seccionUno .contenedor {
        margin-top: 10%;
    }
}

@media screen and (max-width:1100px) {
    .seccionUno .img {
        /*visibility: hidden;*/
        /*max-width: 100%;*/
        height: auto;
    }
    .seccionUno .contenedor {
        height: auto;
        /* width: auto; */
        margin-left: auto;
        margin-bottom: 20px;
        border: solid;
    }
}

@media screen and (max-width:995px) {
    .navigation {
        margin-left: 0px;
    }
    .seccionUno .contenedor {
        /*margin-top: 10%;*/
        /* bottom: 0%; */
        margin-left: 70px;
        border-radius: 20px;
        border: solid;
        width: 50%;
    }
    .seccionUno .h5Bienvenido {
        font-size: 30px;
    }
    .seccionUno .subTitulo {
        font-size: 25px;
    }
    .seccionUno .parrafo {
        font-size: 10px;
    }
    .btnDador {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        display: block;
    }
    .btnTranspor {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 200px;
        display: block;
    }
}

@media screen and (max-width:415px) {
    .seccionUno .contenedor {
        padding: 5px;
        margin-left: 30px;
    }
    .seccionUno .h5Bienvenido {
        font-size: 20px;
    }
    .seccionUno .subTitulo {
        font-size: 20px;
    }
}


/* ----------------------------------------------------------------------------------------------------- 
 ------------------------------------- Sección Dos - Información ---------------------------------------
 ----------------------------------------------------------------------------------------------------- */

.seccionDos .containerCards {
    background-color: #ffffff;
    justify-content: space-around;
}

.seccionDos .cardBody {
    padding: 0px;
    border-radius: 30px;
    /* border: solid; */
    margin: 20px;
    background-color: #dbdaec;
    width: 270px;
    height: 280px;
    flex-grow: 1;
    box-shadow: 5px 5px 5px 3px #4136df;
}

.seccionDos .cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #241F74;
    text-align: unset;
}

@media screen and (max-width: 1000px) {
    .seccionDos .cardBody {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
    }
}

@media screen and (max-width: 995px) {
    .seccionDos .cardBody {
        width: 100%;
        height: 370px;
    }
}

@media screen and (max-width: 780px) {
    .seccionDos .cardBody {
        width: 100%;
        height: auto;
    }
}


/* ----------------------------------------------------------------------------------------------------- 
------------------------------------- Sección Tres - Contacto ------------------------------------------
----------------------------------------------------------------------------------------------------- */

.seccionTres {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: black;
}


/* .seccionTres .tarjeta {
    margin: 30px 15px 15px 0;
    margin-left: auto;
} */

.seccionTres img {
    width: 100%;
    min-height: 500px;
}

.seccionTres form .nom,
.e-mail,
.tel,
.dir,
.ciu,
.mensj {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres .form-contacto {
    max-width: 50%;
    margin: 30px 15px 15px 0;
    max-height: 450px;
    margin-left: auto;
    padding: 10px;
    border-radius: 15px;
    border: solid;
    border-color: #241F74;
    background-color: #FAFAFA;
    opacity: 95%;
}

.seccionTres form .botonEnviar {
    display: flex;
    justify-content: center;
}

.seccionTres form .btnEnviaForm {
    background: #241F74;
    color: #FAFAFA;
    padding-left: 7%;
    padding-right: 7%;
}

.seccionTres form .btnEnviaForm:hover {
    background: #4136df;
    color: #FAFAFA;
}

@media screen and (max-width:1000px) {
    .seccionTres img {
        height: 700px;
    }
    .seccionTres .form-contacto {
        max-height: 650px;
        /* margin-left: auto; */
    }
}

@media screen and (max-width:800px) {
    .seccionTres img {
        height: 700px;
    }
    .seccionTres .form-contacto {
        margin: 20px;
        max-width: 90%;
        max-height: 650px;
        /* margin-left: auto; */
    }
}


/* ----------------------------------------------------------------------------------------------------- 
------------------------------------- Footer -----------------------------------------------------------
----------------------------------------------------------------------------------------------------- */

footer {
    width: 100%;
    height: 70px;
}

.contenedor {
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

footer .terminos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*margin-bottom: 0;*/
    margin-top: 25px;
    text-align: left;
    margin-left: 10px;
}

footer .redes {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*margin-bottom: 0;*/
    margin-top: 25px;
    text-align: right;
    margin-right: 10px;
}

.facebook {
    margin: 10px;
}

.instagram {
    margin: 10px;
}

.linkedin {
    margin: 10px;
}

@media screen and (max-width:750px) {
    div .terminos {
        text-align: center;
        display: block;
    }
    div .redes {
        text-align: center;
        display: block;
    }
}


/* Términos y Condiciones*/

div .termsAndconds {
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
}

div .termsAndconds p {
    text-align: justify;
}


/* ----------------------------------------------------------------------------------------------------- 
------------------------------------- ¿Quienes Somos? ------------------------------------------
----------------------------------------------------------------------------------------------------- */

.nosotros {
    background-color: #FAFAFA;
    /* padding-top: 65px; */
}

.nosotros img {
    border-radius: 20%;
    width: auto;
    height: 300px;
}

.nosotros .contenedorCards {
    justify-content: space-between;
}

.nosotros .tipoCard {
    border-color: #241F74;
}

div .cardTitle {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #241F74;
}

div .cardSubTitle {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #241F74;
}

div .cardText {
    font-family: Arial, Helvetica, sans-serif;
    color: #241F74;
}

@media screen and (max-width: 600px) {
    .nosotros .tipoCard {
        justify-content: center;
        margin-top: 10px;
        margin: auto;
    }
}

.nosotros .primerRow {
    background-color: #FAFAFA;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros .segundoRow {
    background-color: #FAFAFA;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Dashboard ---------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.headerUserPage {
    background-color: #241F74;
}

.headerUserPage .a-cargas {
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.dashboard {
    display: grid;
    place-content: center;
    padding-top: 10px;
    background-color: #A9E2F3;
    text-align: center;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- My Profile --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.my_profile {
    background-color: #D0D3D4;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.parr_volver {
    /*top right bottom left*/
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-left: 20px;
    margin: 0 0 0 20px;
    font-size: x-large;
    cursor: pointer;
}

.parr_volver:hover {
    /*top right bottom left*/
    color: #FFFFFF;
}

.form_grupo_input {
    margin: 5px 0 5px 0;
}

.form_grupo label {
    font-weight: bold;
}

.btn_edit_profile,
.btn_edit_carga,
.btn_save_profile,
.btn_cancel_carga,
.btn_cancel_profile,
.btn_save_carga {
    background-color: #2471A3;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 10px 0 0;
    width: 100px;
    border-radius: 5px;
}

.btn_request_carga {
    background-color: #f5e400;
    color: #000000;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border-radius: 5px;
}

.btn_request_carga:hover {
    background-color: #afa519;
}

.btn_edit_profile:hover,
.btn_edit_carga:hover {
    background-color: #1d5b85;
}

.btn_cancel_profile,
.btn_cancel_carga {
    background-color: #707980;
}

.btn_cancel_profile:hover,
.btn_cancel_carga:hover {
    background-color: #555c61;
}

.btn_save_profile,
.btn_save_carga {
    background-color: #34bb3f;
    width: 150px;
}

.btn_save_profile:hover,
.btn_save_carga:hover {
    background-color: #289231;
}

.btn_edit_carga_oculto,
.btn_cancel_carga_oculto,
.btn_save_carga_oculto,
.btn_delete_carga_oculto,
.btn_request_carga_oculto {
    display: none;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Add Truck --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.add_truck {
    max-width: 500px;
}

.form__grupo-btn-agregar .form_btn {
    height: 50px;
    background-color: #34bb3f;
    color: #FAFAFA;
    width: 100%;
}

.btn-agregaCamion:hover {
    background-color: #1ED12D;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- My Trucks --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.th_trucks,
.th_requests {
    color: #241F74;
}

.btn_edit_camion {
    background-color: #2471A3;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 70px;
    border-radius: 5px;
}

.btn_edit_camion:hover {
    background-color: #1d5b85;
}

.btn_delete_camion,
.btn_delete_carga {
    background-color: #dc3545;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 75px;
    border-radius: 5px;
}

.btn_delete_camion:hover,
.btn_delete_carga:hover {
    background-color: #a82633;
}

.btn_plus {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.icon_btn_plus {
    margin-right: 10px;
    color: #34bb3f;
}

.btn_plus:hover {
    cursor: pointer;
    color: #34bb3f;
    margin-top: 20px;
    font-size: 20px;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Edit Truck --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.edit_truck {
    max-width: 500px;
}

.btn-guardarCambiosCamion:hover {
    background-color: #1ED12D;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Modal Tipo Carga --------------------------------------- 
--------------------------------------------------------------------------------------------*/

.btn_modal_tipo_carga {
    background-color: #241F74;
    color: #FFFFFF;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.btn_modal_tipo_carga:hover {
    background-color: #4136df;
    /* border: 5px solid #1100fa; */
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Agregar Carga ------------------------------------------
--------------------------------------------------------------------------------------------*/

.selectTipoProducto,
.selectCarroceria,
.selectCamion {
    width: 50%;
    padding: 2px;
}

.form__grupo-btn-agregar-carga {
    grid-column: span 3;
}

.form__grupo-btn-agregar-carga .form_btn {
    height: 50px;
    background-color: #34bb3f;
    color: #FAFAFA;
    width: 100%;
}

.btn-agregaCarga:hover {
    background-color: #1ED12D;
}

.add_freights {
    max-width: 800px;
}

.form_req_refrigeracion,
.form_es_carga_peligrosa,
.form_es_carga_apilable,
.form_cant_unit,
.form_peso_unit_kg,
.form_peso_total_kg,
.form_largo_mts,
.form_ancho_mts,
.form_alto_mts,
.form_peso_unit_tn,
.form_peso_total_tn,
.form_cant_litros {
    display: none;
}

.form_req_refrigeracion_disponible,
.form_es_carga_peligrosa_disponible,
.form_es_carga_apilable_disponible {
    display: inline-block;
    margin: 10px 10px 15px 0;
}

.form_cant_unit_disponible,
.form_peso_unit_kg_disponible,
.form_peso_total_kg_disponible,
.form_largo_mts_disponible,
.form_ancho_mts_disponible,
.form_alto_mts_disponible,
.form_peso_unit_tn_disponible,
.form_peso_total_tn_disponible,
.form_cant_litros_disponible {
    max-width: 300px;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Mis Cargas ---------------------------------------------
--------------------------------------------------------------------------------------------*/

.btn_mas_carga {
    background-color: #241F74;
    color: #FFFFFF;
    width: 75px;
    border-radius: 5px;
}

.btn_mas_carga:hover {
    background-color: #4136df;
}


/* ---------------------------------------------------------------------------------- 
   ------------------------------------- Search ------------------------------------- 
   ---------------------------------------------------------------------------------- */

.search-carga .p_cant_reg {
    margin: 10px 0 10px 25px;
}

.selectProvincia {
    width: 300px;
    height: 30px;
    margin: 10px 0 0px 25px;
}

.p_cant_reg_none {
    display: none;
}

.btn_ver_detalle {
    background-color: #241F74;
    color: #FFFFFF;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-left: 2%;
}

.btn_ver_detalle {
    margin-bottom: 10px;
}

.btn_ver_detalle:hover {
    background-color: #4136df;
}


/*tengo que lograr que se pongan de a dos, una al lado la otra y cuando es movil se muestre de a una*/

.info_cargas_disponibles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card-carga {
    box-shadow: 5px 5px 5px 3px #3f3f3f;
    /*#4136df*/
}

.card-carga-none {
    display: none;
}

.card-carga:hover {
    background-color: #c4c4c4;
    /*#eceb86;*/
}

.cardText1-carga {
    /*display: inline-block;*/
    margin: 5px 0 10px 10px;
}

.cardText2-carga {
    /*display: inline-block;*/
    margin: 5px 10px 10px 0;
}

.cardBbody-carga {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.body2-carga {
    padding-top: 0;
    padding-bottom: 10px;
}

@media screen and (max-width:400px) {
    .info_cargas_disponibles {
        grid-template-columns: 1fr;
    }
    .cardBbody-carga {
        display: inline-block;
    }
}

@media screen and (max-width:800px) {
    .btn_buscar_carga {
        margin: 2% 0 0 0;
    }
}

/* ---------------------------------------------------------------------------------- 
   ------------------------------------- Requests -----------------------------------
   ---------------------------------------------------------------------------------- */

