/*Sign Up - Lo pongo aca por ahora, despues veo si le creo un style por separado*/

.card-form {
    max-width: 500px;
    margin: auto;
    background-color: #F2F2F2;
    padding: 2%;
    border-radius: 20px;
    margin-top: 2%;
}

.form__grupo-btn-enviar .form_btn {
    height: 50px;
    background-color: #3f8ede;
    color: #FAFAFA;
    width: 100%;
}

.form__label {
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}


/* Lo tuve que poner así porque sino me aparecian uno abajo del otro*/


/* .form__label_tipo_persona {
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}
 */

.form__label_tipo_usuario {
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.form__grupo_input {
    position: relative;
}

.form__input_error {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.form__input_error_transportista {
    font-size: 12px;
    margin-bottom: 0px;
    display: none;
}

.form__input_error_activo {
    display: block;
    color: #BB2929;
    font-weight: 700;
}

.form__input_error_transportista_activo {
    display: block;
    color: #BB2929;
    font-weight: 700;
}

.form__validacion_estado {
    position: absolute;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    /* Esto solo para asegurarnos que quede por encima de otros elementos */
    opacity: 0;
    /* Esto para que no se muestre, que se muestre solo cuando haya error */
}

.form__mensaje_error {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #ec3e3e;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.form__mensaje_error_advertencia {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #f3f706;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.form__mensaje_error_advertencia_activo {
    display: block;
}

.form__mensaje_error_activo {
    display: block;
}

.form__mensaje_exito {
    height: 45px;
    line-height: 45px;
    margin-top: 10px;
    background-color: #2fe76d;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
    display: none;
}

.form__mensaje_exito_activo {
    display: block;
}


/* ------------------------------------- Estilos para Validación ------------------------------------- */


/* Supongo estas clases las pone con JS */

.formulario_grupo_correcto .form__validacion_estado {
    color: #1ED12D;
    opacity: 1;
}

.formulario_grupo_incorrecto .form__validacion_estado {
    color: #BB2929;
    opacity: 1;
}

.formulario_grupo_incorrecto .form__input {
    /*color: #BB2929;*/
    border: 3px solid #BB2929;
    opacity: 1;
}


/* ---------------------------------------------------------------------------------- 
   ------------------------------------- NavBar ------------------------------------- 
   ---------------------------------------------------------------------------------- */

.navbar-navigation {
    background-color: #E6E6E6;
}

.a-dashboard {
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: inline;
}

.a-dashboard:hover {
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
}

.a-mis-camiones {
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: inline;
}

.a-mis-camiones:hover {
    color: #FFFFFF;
    cursor: pointer;
    display: inline;
}

.a-perfil {
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-right: 20px;
}

.a-perfil:hover {
    color: #FFFFFF;
    cursor: pointer;
}

.icon-fontawesome {
    color: #241F74;
    cursor: pointer;
    margin-left: 10px;
}

.navigation {
    color: #241F74;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    margin-left: 50px;
}

.navigation:hover {
    color: #FFFFFF;
}


/* ------------------------------------- Sección Uno - login ------------------------------------- */

.seccionUno {
    text-align: center;
    position: relative;
    /*padding-top: 65px;*/
}

.seccionUno img {
    width: 100%;
    min-height: 400px;
}

.seccionUno .contenedor {
    position: absolute;
    width: 700px;
    height: auto;
    font-family: Helvetica;
    color: #241F74;
    background-color: #FAFAFA;
    opacity: 85%;
    padding: 20px;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 10%;
    border: solid;
}

.seccionUno .h5Bienvenido {
    font-size: 50px;
}

.seccionUno .parrafo {
    font-size: 15px;
    font-weight: bold;
}

.btnDador {
    background: #FAFAFA;
    color: #241F74;
    border-color: #241F74;
}

.btnDador:hover {
    background: #241F74;
    color: #FAFAFA;
}

.btnTranspor {
    background: #241F74;
    color: #FAFAFA;
    margin-left: 20px;
}

.btnTranspor:hover {
    background: #FAFAFA;
    color: #241F74;
}

@media screen and (max-width:1500px) {
    .seccionUno .contenedor {
        margin-top: 10%;
    }
}

@media screen and (max-width:1100px) {
    .seccionUno .img {
        /*visibility: hidden;*/
        /*max-width: 100%;*/
        height: auto;
    }
    .seccionUno .contenedor {
        height: auto;
        /* width: auto; */
        margin-left: auto;
        margin-bottom: 20px;
        border: solid;
    }
}

@media screen and (max-width:995px) {
    .navigation {
        margin-left: 0px;
    }
    .seccionUno .contenedor {
        /*margin-top: 10%;*/
        /* bottom: 0%; */
        margin-left: 70px;
        border-radius: 20px;
        border: solid;
        width: 50%;
    }
    .seccionUno .h5Bienvenido {
        font-size: 30px;
    }
    .seccionUno .subTitulo {
        font-size: 25px;
    }
    .seccionUno .parrafo {
        font-size: 10px;
    }
    .btnDador {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        display: block;
    }
    .btnTranspor {
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        width: 200px;
        display: block;
    }
}

@media screen and (max-width:415px) {
    .seccionUno .contenedor {
        padding: 5px;
        margin-left: 30px;
    }
    .seccionUno .h5Bienvenido {
        font-size: 20px;
    }
    .seccionUno .subTitulo {
        font-size: 20px;
    }
}


/* ------------------------------------- Sección Dos - Información ------------------------------------- */

.seccionDos .barraTitulo {
    /*background-color: #241F74;*/
    height: 70px;
    align-items: center;
}

.seccionDos .containerCards {
    background-color: #ffffff;
    justify-content: space-around;
}

.seccionDos .cardBody {
    padding: 0px;
    border-radius: 30px;
    border: solid;
    margin: 20px;
    background-color: #ffffff;
    width: 270px;
    height: 280px;
    flex-grow: 1;
}

.seccionDos .cardTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #241F74;
}

@media screen and (max-width: 1000px) {
    .seccionDos .cardBody {
        width: 100%;
        justify-content: space-around;
        margin-left: 0;
    }
}

@media screen and (max-width: 995px) {
    .seccionDos .cardBody {
        width: 100%;
        height: 370px;
    }
}

@media screen and (max-width: 780px) {
    .seccionDos .cardBody {
        width: 100%;
        height: auto;
    }
}


/* ------------------------------------- Sección Tres - Contacto ------------------------------------- */

.seccionTres {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.seccionTres .tarjeta {
    margin: 15px;
    background-color: #FAFAFA;
    opacity: 90%;
    border: inset;
    margin-left: auto;
}


/* .seccionTres .parrafos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} */


/* .seccionTres .contenedor {
    width: auto;
    border: inset;
} */

.seccionTres img {
    width: 100%;
    min-height: 500px;
}

.seccionTres .tarjeta {
    border-radius: 3%;
}

.seccionTres form .nom {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres form .e-mail {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres form .tel {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres form .dir {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres form .ciu {
    border-color: #000000;
    font-size: 15px;
}

.seccionTres form .mensj {
    border-color: #000000;
    font-size: 15px;
    height: auto;
}

.seccionTres form .botonEnviar {
    display: flex;
    justify-content: center;
}

.seccionTres form .btnEnviaForm {
    background: #241F74;
    color: #FAFAFA;
    padding-left: 7%;
    padding-right: 7%;
}

.seccionTres form .btnEnviaForm:hover {
    background: #974415;
    color: #FAFAFA;
}

@media screen and (max-width:1000px) {
    /*.parrafos {
        width: 100%;
    }*/
    .seccionTres img {
        min-height: 650px;
    }
    .seccionTres .contendor {
        width: 100%;
    }
}


/* Footer */

footer {
    width: 100%;
    height: 70px;
}

.contenedor {
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
}

footer .terminos {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*margin-bottom: 0;*/
    margin-top: 25px;
    text-align: left;
    margin-left: 10px;
}

footer .redes {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /*margin-bottom: 0;*/
    margin-top: 25px;
    text-align: right;
    margin-right: 10px;
}

.facebook {
    margin: 10px;
}

.instagram {
    margin: 10px;
}

.linkedin {
    margin: 10px;
}

@media screen and (max-width:750px) {
    div .terminos {
        text-align: center;
        display: block;
    }
    div .redes {
        text-align: center;
        display: block;
    }
}


/* Términos y Condiciones*/

div .termsAndconds {
    padding-top: 8%;
    font-family: Arial, Helvetica, sans-serif;
}

div .termsAndconds p {
    text-align: justify;
}


/* Quienes Somos */

.nosotros {
    background-color: #2E2E2E;
    padding-top: 65px;
}

.nosotros img {
    border-radius: 20%;
    width: auto;
    height: 300px;
}

.nosotros .contenedorCards {
    justify-content: space-between;
}

div .cardTitle {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

div .cardSubTitle {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

div .cardText {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
}

@media screen and (max-width: 600px) {
    .nosotros .tipoCard {
        justify-content: center;
        margin-top: 10px;
        margin-left: 0;
    }
}

.nosotros .primerRow {
    background-color: #E6E6E6;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.nosotros .segundoRow {
    background-color: #E6E6E6;
}

.nosotros .tipoCard {
    border-color: #241F74;
    border: solid;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Dashboard ---------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.headerUserPage {
    background-color: #241F74;
}

.headerUserPage .a-cargas {
    color: #FFFFFF;
    font-weight: bold;
    cursor: pointer;
}

.dashboard {
    background-color: #c7c7c7;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- My Profile --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.my_profile {
    background-color: #D0D3D4;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.parr_volver {
    /*top right bottom left*/
    color: #241F74;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-left: 20px;
    margin: 0 0 0 20px;
    font-size: x-large;
    cursor: pointer;
}

.parr_volver:hover {
    /*top right bottom left*/
    color: #FFFFFF;
}

.form_grupo_input {
    margin: 5px 0 5px 0;
}

.form_grupo label {
    font-weight: bold;
}

.btn_edit_profile {
    background-color: #2471A3;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 10px 0 0;
    width: 100px;
    border-radius: 5px;
}

.btn_edit_profile:hover {
    background-color: #1d5b85;
}

.btn_cancel_profile {
    background-color: #707980;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 10px 0 0;
    width: 100px;
    border-radius: 5px;
}

.btn_cancel_profile:hover {
    background-color: #555c61;
}

.btn_save_profile {
    background-color: #dc3545;
    color: #FFFFFF;
    cursor: pointer;
    margin: 20px 10px 0 0;
    width: 150px;
    border-radius: 5px;
}

.btn_save_profile:hover {
    background-color: #a82633;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Add Truck --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.add_truck {
    max-width: 500px;
}

.form__grupo-btn-agregar .form_btn {
    height: 50px;
    background-color: #34bb3f;
    color: #FAFAFA;
    width: 100%;
}

.btn-agregaCamion:hover {
    background-color: #1ED12D;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- My Trucks --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.th_trucks {
    color: #241F74;
}

.btn_edit_camion {
    background-color: #2471A3;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 70px;
    border-radius: 5px;
}

.btn_edit_camion:hover {
    background-color: #1d5b85;
}

.btn_delete_camion {
    background-color: #dc3545;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0 10px 0 0;
    width: 75px;
    border-radius: 5px;
}

.btn_delete_camion:hover {
    background-color: #a82633;
}

.btn_plus {
    cursor: pointer;
    margin-top: 20px;
    display: inline-block;
}

.icon_btn_plus {
    margin-right: 10px;
    color: #34bb3f;
}

.btn_plus:hover {
    cursor: pointer;
    color: #34bb3f;
    margin-top: 20px;
    font-size: 20px;
}


/*--------------------------------------------------------------------------------------------
------------------------------------- Edit Truck --------------------------------------------- 
--------------------------------------------------------------------------------------------*/

.edit_truck {
    max-width: 500px;
}

.btn-guardarCambiosCamion:hover {
    background-color: #1ED12D;
}